In [1]:
import pandas as pd
import numpy as np
import re
import time

# database interface
import sqlite3

data_path = "C:/Users/SpiffyApple/Documents/USC/Clubs/Cycling"

# Dump current inventory list to a database 

Original file (Current assests.xlsx) is from our Google Drive

## read the data

In [2]:
df = pd.read_excel('/'.join([data_path, 'current assets_ver2.xlsx']), header=1)

## clean and format

In [3]:
# clean prices up
df.loc[:,'price'] = df.price.astype('str').str.replace('\$*','')

In [4]:
# get genders
df.loc[:,'gender'] = ''
df.loc[df.Item.astype('str').str.lower().str.contains(" m$"),'gender'] = 'male'
df.loc[df.Item.astype('str').str.lower().str.contains(" w|women"),'gender'] = 'women'

df.loc[:,'MTB'] = df.Item.str.contains('MTB')

# get retail and team prices
df.loc[:,'retail_price'] = df.price.str.extract('(\d+)',expand=False).astype('float')
teamPrice = df.price.str.contains('\(|\)')

df.loc[:,'team_price'] = df.loc[:,'retail_price']
df.loc[teamPrice,'team_price'] = df.loc[teamPrice,'price'].str.extract('\((\d+)[\w\s]+',expand=False).astype('float')

# team discount
df.loc[:,'team_discount'] = df.team_price<df.retail_price

# get items not for sale
df.loc[:,'not4sale'] = df.retail_price.isnull()

In [5]:
# fetch item types
df.loc[:,'item_type'] = ''

searchStrings = ['jacket','v neck|shirt|tee','jersey','bib|short','hoodie','vest','set','bag','bottle','pedals','stickers','socks','warmers','cad10','gloves','cap']
itemType = ['jacket','tshirt','jersey','bibs','hoodie','vest','wheels','bag','water bottle','pedals','stickers','socks','armwarmers','bike','gloves','cap']

for s,i in zip(searchStrings,itemType):
    sub = df.loc[:,'Item'].astype('str').str.lower().str.contains(s)
    df.loc[sub,'item_type'] = i

## Figure out sizes

In [6]:
# figure out sizes
sizeCols = ['XXS','XS','S','M','L','XL','XXL','XXXL']
df.loc[:,sizeCols] = df.loc[:,sizeCols].replace(np.nan,0)

In [7]:
inventory = df.loc[:,sizeCols].astype('str').apply(lambda s: s.str.replace('\s','').str.lower().str.replace("\(\d\)|scrow|jude|\+",'').str.strip(), axis=1).replace("",0).astype('float').astype('int')
coming = df.loc[:,sizeCols].astype('str').apply(lambda s: s.str.extract('\((\d)',expand=False).str.strip(), axis=1).replace(np.nan,0).astype('int')

In [8]:
# temp for work check
assets = pd.concat([df,inventory,coming],keys = ['original','onhand','coming'],axis=1)
assets.to_csv("/".join([data_path, 'assets.csv']))

In [9]:
df.loc[:,'en_route'] = (coming>0).any(axis=1)

# replace sizes with clean inventory
df.loc[:,sizeCols] = inventory

In [10]:
# fill in missing counts
df.loc[df['count'].isnull(),'count'] = inventory.loc[:,:].sum(axis=1).loc[df['count'].isnull()]

## Dump to database

In [11]:
dbname = "cycling_club_assets.db"
tableName = 'assets'
conn =  sqlite3.connect("/".join([data_path, dbname]))

In [12]:
df.loc[:,'itemID'] = np.arange(df.shape[0])

In [13]:
# drop main inventory file
df.drop(['price'],axis=1).reset_index(drop=True).to_sql(tableName,conn, index=False)

In [14]:
# stuff that's forthcoming

### anything that's coming?
coming.loc[:,'anySize'] = (coming.sum(axis=1)>0)

### link inventory to coming items
coming.loc[:,'itemID'] = df.loc[:,'itemID']

### dump to sqlite
coming.to_sql('enRoute',conn, index=False)

In [22]:
# create view between coming and inventory
cur = conn.cursor()
cur.execute("CREATE VIEW assets_all AS SELECT * FROM assets INNER JOIN enRoute USING(itemID);")
conn.commit()

## Tests

In [16]:
pd.read_sql("SELECT * FROM assets WHERE (gender=='male') & (item_type='bibs')", conn)

,Item,Description,count,XXS,XS,S,M,L,XL,XXL,XXXL,gender,MTB,retail_price,team_price,team_discount,not4sale,item_type,en_route,itemID
0,2019 Pedal Mafia Core bib M,None,1.0,0,0,0,1,0,0,0,0,male,0,130.0,72.0,1,0,bibs,1,8
1,2019 Pedal Mafia Tech bib M,None,1.0,0,0,1,0,0,0,0,0,male,0,140.0,105.0,1,0,bibs,1,9
2,2018 Castelli training bib M,None,0.0,0,0,0,0,0,0,0,0,male,0,130.0,79.0,1,0,bibs,0,19
3,2018 Castelli aero bib M,None,2.0,0,0,1,0,0,0,1,0,male,0,140.0,110.0,1,0,bibs,0,20

In [17]:
pd.read_sql('SELECT * FROM enRoute', conn)

    XXS  XS  S  M  L  XL  XXL  XXXL  anySize  itemID
0     0   0  0  0  0   0    0     0        0       0
1     0   0  0  0  0   0    0     0        0       1
2     0   0  0  0  0   0    0     0        0       2
3     0   0  0  0  0   0    0     0        0       3
4     0   0  1  0  1   1    1     0        1       4
..  ...  .. .. .. ..  ..  ...   ...      ...     ...
57    0   0  0  0  0   0    0     0        0      57
58    0   0  0  0  0   0    0     0        0      58
59    0   0  0  0  0   0    0     0        0      59
60    0   0  0  0  0   0    0     0        0      60
61    0   0  0  0  0   0    0     0        0      61

[62 rows x 10 columns]

In [23]:
pd.read_sql("SELECT * FROM assets_all",conn)

,Item,Description,count,XXS,XS,S,M,L,XL,XXL,...,itemID,XXS:1,XS:1,S:1,M:1,L:1,XL:1,XXL:1,XXXL:1,anySize
0,Grey Nike hoodies,"Zip up, standard fit Nike Golf (bit long). $55",19.0,0,0,0,3,5,5,6,...,0,0,0,0,0,0,0,0,0,0
1,Dri-fit dark grey v necks unisex,"Short sleeve, seems large for sizes. $30",10.0,0,0,3,3,0,0,4,...,1,0,0,0,0,0,0,0,0,0
2,Dri-fit light grey v necks womens,"Short sleeve, seems large for sizes. $30",18.0,0,0,0,8,10,0,0,...,2,0,0,0,0,0,0,0,0,0
3,Red graffiti text shirts,None,8.0,0,0,0,5,1,0,2,...,3,0,0,0,0,0,0,0,0,0
4,2019 Pedal Mafia Core Jersey M,None,3.0,0,0,0,2,1,0,0,...,4,0,0,1,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Helen's Cycles bag,Black string bag,1.0,0,0,0,0,0,0,0,...,57,0,0,0,0,0,0,0,0,0
58,Shimano rim set,Bought at Helen's during 54 check up early 2018,1.0,0,0,0,0,0,0,0,...,58,0,0,0,0,0,0,0,0,0
59,Mavic rim set,"Original rims on 54, replaced w/ Shimano. Serv...",1.0,0,0,0,0,0,0,0,...,59,0,0,0,0,0,0,0,0,0
60,Cannondale Cad10,Have a 52 and 54 remaining,0.0,0,0,0,0,0,0,0,...,60,0,0,0,0,0,0,0,0,0
61,Pedal Mafia tote bags,To give to our riders,30.0,0,0,0,0,0,0,0,...,61,0,0,0,0,0,0,0,0,0

# Create sales table

In [ ]:
query = """
CREATE TABLE sales (
        itemID INTEGER PRIMARY KEY,
        Item TEXT,
        count 'REAL',
        XXS INTEGER,
        XS INTEGER,
        S INTEGER,
        M INTEGER,
        L INTEGER,
        XL INTEGER,
        XXL INTEGER,
        XXXL INTEGER,
        team_price REAL,
        retail_price REAL,
        date TEXT);
"""
c.execute(query)    
conn.commit()

In [24]:
conn.close()